# DATABASE CONFIGURATION
DATABASE_NAME=gestor_condominios_db.db

# JWT CONFIGURATION
JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_REFRESH_SECRET_KEY=your_refresh_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRES_IN_MINUTES=15

# INITIAL ADMIN CREDENTIALS
INITIAL_ADMIN_EMAIL=admin@system.local
INITIAL_ADMIN_NAME=System_Admin
INITIAL_ADMIN_PASSWORD=@ge4Km&o!